#titre {
    text-align: center;
    font-size: 33px;
    margin-top: 100px;
    margin-bottom: 20px;
}

#sousTitre {
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}

#affEnfant {
    margin-bottom: 20px;
    border-radius: 5px;
    width: 50%;
    margin-left: 25%;
}

#btnEnfant {
    background-color: #e6ebe0;
    border-radius: 20px;
    padding: 0 10px;
}

#btnAjoutEnfant {
    border-radius: 10px;
    padding: 10px;
    background-color: #5ca4a9 ;
    color: white;
}